/* LWF custom styles */
#pass{background:#8c8a9b url(/images/bg.jpg) no-repeat left top;background-size:cover;}
..pass-footer{color:#CCCCCC;}

#header{background-color:#04254E;background: -webkit-linear-gradient(left, #04254E , #2571A3);background: -o-linear-gradient(right, #04254E, #2571A3);background: -moz-linear-gradient(right, #04254E, #2571A3);background: linear-gradient(to right, #04254E , #2571A3);}
#header #balance {background-color: #1D5880}
#header #title {color:#FFFFFF;}
.icon{margin-top:-30px;}
.account-block, #menu li.active{background-color:transparent}
#sidebar-wrapper{background-color:#04254E}
.panel.widget.widget-brown{color:#2d556f;border-top:4px solid #0288d1}
.nav-underline>li.active a {border-bottom-color: #0288d1}

.panel-default table td a {color:#0288d1}
.panel-default table td a:hover, .panel-default table td a:active {color:#f57c00}
[type=checkbox].filled-in.violet:checked+label:after {
    border: 2px solid #0288d1;
    background-color: #0288d1;
}

.account-block .address { line-height: 1.8em; }
.account-block .icon { width:220px;height:90px;overflow: hidden;margin: 20px auto 20px;}

/* Fix forge stats floating */
.info-panel-grey {overflow:hidden;}
.info-panel .title, .info-panel.info-panel-grey .title {opacity:1;font-size:1em;}
.info-panel-grey .plain-text {width:50%;white-space:nowrap;}


.logo-grey {width: 220px;}
